fieldset {
	width: 550px;
}
input {
	width: 50px;
}
.smallInp {
	width: 50px;
}
h3, h4 {
	margin: 0px;
}
h4 {
	font-weight: normal;
}
.hide {
	display: none;
}
.show {
	display: inline-block;
}
p {
	line-height: 20px;
	margin: 0px;
}

#control_block {
	margin-bottom: 15px;
}

#bottom_bl {
	margin-top: 20px;
}
#send {
	margin-top: 20px;
}

.content {
	width: 600px;
	margin: 20px;
}